@import "tailwindcss";

:root {
  /* Texte : On garde le Brun Terre (#594A42) qui va super bien avec le vert */
  --foreground-rgb: 89, 74, 66;
}

body {
  color: rgb(var(--foreground-rgb));

/*background: radial-gradient(circle at center, #E4E6E1 0%, #CCD1C8 100%);*/

  background: radial-gradient(circle at center, #EFE5DE 0%, #DBC6BC 100%);

  min-height: 100vh;
  overflow-x: hidden;
}

/* Animation inchangée */
.reveal {
  view-timeline-name: --item;
  view-timeline-axis: block;
  animation: linear reveal both;
  animation-timeline: --item;
  animation-range: entry 10% cover 40%;
}

@keyframes reveal {
  from { opacity: 0; transform: translateY(50px) scale(0.98); filter: blur(10px); }
  to { opacity: 1; transform: translateY(0) scale(1); filter: blur(0); }
}
